In [2]:
import pandas as pd

In [3]:
# The code was removed by Watson Studio for sharing.

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
#cleaning up the data for use
df_data_1.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [5]:
#in order tp get idea of where accidnts hotspot 
df_data_1['LOCATION'].value_counts().to_frame()

                                                    LOCATION
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB A...       276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND A...       271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORL...       265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST           254
6TH AVE AND JAMES ST                                     252
AURORA AVE N BETWEEN N 130TH ST AND N 135TH ST           239
ALASKAN WY VI NB BETWEEN S ROYAL BROUGHAM WAY O...       238
RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLEL...       231
ALASKAN WY VI SB BETWEEN COLUMBIA ST ON RP AND ...       212
WEST SEATTLE BR EB BETWEEN ALASKAN WY VI NB ON ...       212
AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N               190
ALASKAN WY VI NB BETWEEN SENECA ST OFF RP AND W...       164
1ST AVE BETWEEN BLANCHARD ST AND BELL ST                 161
5TH AVE AND SPRING ST                                    160
RAINIER AVE S BETWEEN S HENDERSON ST AND S DIRE...       152
RAINIER AVE S BETWEEN S DEARBORN ST AND S CHARL...       146
RAINIER AVE S BETWEEN S CHARLESTOWN ST AND S AN...       142
5TH AVE AND UNION ST                                     138
5TH AVE AND VIRGINIA ST                                  136
NE NORTHGATE WAY BETWEEN 5TH AVE NE AND 8TH AVE NE       136
OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW             133
MONTLAKE BLVD NE BETWEEN NE PACIFIC PL AND 25TH...       132
NE NORTHGATE WAY BETWEEN 3RD AVE NE AND 5TH AVE NE       131
RAINIER AVE S BETWEEN S CLOVERDALE ST AND S HEN...       130
1ST AVE BETWEEN UNION ST AND PIKE ST                     129
RAINIER AVE S AND S ORCAS ST                             128
5TH AVE AND UNIVERSITY ST                                128
12TH AVE AND E MADISON ST                                128
S MICHIGAN ST BETWEEN 7TH AVE S AND CORSON AVE S         126
EAST MARGINAL WAY S BETWEEN S FIDALGO ST AND 1S...       125
...                                                      ...
S HORTON ST BETWEEN 4TH AVE S AND DEAD END 1               1
OCCIDENTAL AVE S AND S WALKER ST                           1
NW 112TH ST BETWEEN 3RD AVE NW AND DEAD END                1
BEACON AVE S AND S FLETCHER ST                             1
SW DAKOTA ST BETWEEN 51ST AVE SW AND 52ND AVE SW           1
34TH AVE NE AND NE 73RD ST                                 1
WALLINGFORD AVE N AND N 55TH ST                            1
55TH AVE S BETWEEN S CRESTON ST AND S BANGOR ST            1
BEACON WR AVE S AND CECIL AVE S                            1
E PROSPECT ST BETWEEN 14TH AVE E AND 15TH S AVE E          1
STURGUS AVE S AND S ATLANTIC ST                            1
CORLISS AVE N BETWEEN N 38TH ST AND N 39TH ST              1
SW GENESEE ST BETWEEN FAUNTLEROY W WAY SW AND 3...         1
11TH AVE NW AND NW 92ND ST                                 1
34TH AVE SW AND SW MANNING ST                              1
S THISTLE ST BETWEEN DEAD END 2 AND RAINIER AVE S          1
34TH AVE S BETWEEN CLAREMONT PL S AND S DAKOTA ST          1
W RAYE ST BETWEEN 4TH AVE W AND 5TH N AVE W                1
7TH AVE W AND W BLAINE ST                                  1
39TH AVE SW BETWEEN DEAD END 1 AND SW TRENTON ST           1
I5 NB - W SEATTLE BR RP BETWEEN I5 NB - COLUMBI...         1
8TH AVE W BETWEEN W ARMOUR ST AND W FULTON ST              1
40TH AVE NE BETWEEN NE 120TH ST AND NE 123RD ST            1
18TH AVE E BETWEEN DEAD END 2 AND BOYER AVE E              1
22ND AVE SW BETWEEN SW ELMGROVE ST AND SW THIST...         1
30TH AVE S BETWEEN S HUDSON ST AND S DAWSON ST             1
31ST AVE SW AND 31ST PL SW                                 1
NW 83RD ST BETWEEN 22ND AVE NW AND 23RD AVE NW             1
44TH PL NE AND NE 94TH ST                                  1
ASHWORTH AVE N AND N 57TH ST                               1

[24102 rows x 1 columns]

In [6]:
#to see the breakdowns of accidents occurring during the different light conditions
df_data_1['LIGHTCOND'].value_counts().to_frame()

                          LIGHTCOND
Daylight                     116137
Dark - Street Lights On       48507
Unknown                       13473
Dusk                           5902
Dawn                           2502
Dark - No Street Lights        1537
Dark - Street Lights Off       1199
Other                           235
Dark - Unknown Lighting          11

In [9]:
#create a new df with the data of interest
df_data_1_StreetLights=df_data_1.filter(['SEVERITYCODE','LOCATION','LIGHTCOND'], axis=1)
df_data_1_StreetLights.head()

,SEVERITYCODE,LOCATION,LIGHTCOND
0,2,5TH AVE NE AND NE 103RD ST,Daylight
1,1,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Dark - Street Lights On
2,1,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Daylight
3,1,2ND AVE BETWEEN MARION ST AND MADISON ST,Daylight
4,2,SWIFT AVE S AND SWIFT AV OFF RP,Daylight

In [10]:
# notice: installing seaborn might takes a few minutes
!conda install -c anaconda seaborn -y

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - seaborn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1g             |       h7b6447c_0         3.8 MB  anaconda
    ca-certificates-2020.7.22  |                0         132 KB  anaconda
    certifi-2020.6.20          |           py36_0         160 KB  anaconda
    seaborn-0.10.1             |             py_0         160 KB  anaconda
    ------------------------------------------------------------
                                           Total:         4.2 MB

The following packages will be UPDATED:

    ca-certificates: 2020.7.22-0        --> 2020.7.22-0       anaconda
    certifi:         2020.6.20-py36_0   --> 2020.6.20-py36_0  anaconda
    openssl:         1.1.1g-h7b6447c_0  --> 1.1.1g-h7b6447c_0 anaconda
    seaborn:         0.9.0-pyh91ea838_1 --> 0.10.1-py_0       anaconda


Downloading and Extracting Packages
openssl-1.1.1g       | 3.8 MB    | ##################################### | 100%
ca-certificates-2020 | 132 KB    | ##################################### | 100%
certifi-2020.6.20    | 160 KB    | ##################################### | 100%
seaborn-0.10.1       | 160 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
#use regplot in order to show any correlation
sns.regplot(x="LIGHTCOND", y="LOCATION", data=df_data_1_StreetLights)

TypeError: ufunc 'multiply' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
#convert the light condition data type from an object to integer
df_data_1_StreetLights['LIGHTCOND'].astype(str).astype(int)
#use regplot in order to determine any correlation
sns.regplot(x='LIGHTCOND', y='LOCATION', data=df_data_1_StreetLights)

In [ ]:
#create ne dataframe
df_data_1_DarkStreet['LOCATION'].value_counts().to_frame()

In [ ]:
#determine the severity of accidents when the lightcond is "Dark_ No street Lights"
df_data_1_DarkStreet['SEVERITYCODE'].value_counts().to_frame()